.container {
    border:solid;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background: linear-gradient(170deg, rgba(0, 0, 255, 0.946),rgb(0, 191, 255));
    padding: 0px 5px 0px 5px;
    margin-top: 20px;
    min-width: 240px;
    max-width: 770px;
}
.title-C {
    line-height: 30px;
    text-align:center;
}
.cube-base {
    text-align:center;
}
.ha1 {
    font-size: 30px;
    line-height: 30px;
}
body {
    display:flex;
    justify-content:center;
    align-items:center;
}

